{% extends "Scheduler/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% block extra_css %}
<style>
  body {
    background-image: url("{% static 'Users/images/doctor-and-patient.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
{% endblock %}
    <div class="login-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center" style="font-size: 1.5rem; color: #333;">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
            <button class="btn btn-outline-info btn-block" type="submit" style="padding: 0.75rem; font-size: 1rem;">Login</button>
        </div>
    </form>
    <div class="border-top pt-3 text-center">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register' %}" style="color: #007bff; font-weight: 600;">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock content %}
