{% extends "Scheduler/base.html" %}
{% load static %}
{% block content %}
{% block extra_css %}
<style>
  body {
    background-image: url("{% static 'Users/images/doctor-and-patient.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
{% endblock %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{% url 'login' %}">Login In Again</a>
        </small>
    </div>
{% endblock content %}